
/*<!------------------------ shared css ------------------------>*/


body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
  margin: 0px; 
  max-width: 100%;
  max-height: 2000px;
}

img {
  width: 100%;
  height: auto;
}

.nav {
  width: 100%;
  background-color: white;
  height: 6vh;
  text-align: justify;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.btn {
  font-family: helvetica;
  font-style: italic;
  font-size: 40px;
}

.btn:hover {
  text-decoration: underline;
  cursor:pointer;
}

.title-container {
  width: 100%;
  height: auto;
  position: relative;
  top: 0px;
  left: 0px;
}

.subtitle {
  font-family: helvetica;
  font-size: 40px;
  color: black;
  top: 1%;
  left: 1%;
  text-align: left;
  position: relative;
  display: inline-block;
  width: 48%;
}

@media screen and (max-width: 1000px) {
  .subtitle {
    font-size: 20px;
    width: 100%;
    left: 2%;
  }
}

.date {
  font-family: helvetica;
  font-style: italic;
  font-size: 20px;
  color: black;
  left: 2.5%;
  text-align: right;
  position: relative;
  display: inline-block;
  width: 48%;
}

@media screen and (max-width: 1000px) {
  .date {
    font-size: 10px;
    width: 100%;
    text-align: left;
    left: 2%;
  }
}

.reference {
  font-size: 10px;
  font-family: helvetica;
  font-style: italic;
  display: block;
  padding: 5px;
}

.corner-title {
  font-family: helvetica;
  font-style: italic;
  font-size: 1vw;
  color: white;
  letter-spacing: 0px;
  text-align: left;
  position: absolute;
  top: 95%;
  left: 1.2%;
}


/*<!------------------------ page 1 css ------------------------> */



.title-1 {
  font-family: minion;
  font-style: italic;
  font-size: 8vw;
  color: white;
  letter-spacing: -4px;
  text-align: left;
  position: absolute;
  width: 60%;
  top: 20%;
  left: 25%;
}

.title-1:hover {
  text-decoration: underline;
}

.border-trim-3 {
  position: relative;
  top: 1vh;
  width: 80%;
  height: 50%;
  left: 10%;
  border: solid 2px black;
}

.border-trim-4 {
  position: relative;
  top: 590px;
  width: 64.3%;
  height: 330px;
  left: 1%;
  border: solid 2px white;
}

/*.zoom-in-1 {
  width: 30px;
  position: absolute;
  left: 9%;
  top: 2.6%;
}

.zoom-in-1:hover {
  cursor: pointer;
}

.zoom-out-1 {
  width: 30px;
  position: absolute;
  left: 9%;
  top: 6.8%;
}

.zoom-out-1:hover {
  cursor: pointer;
}

.zoom-in-2 {
  width: 30px;
  position: absolute;
  right: 8.9%;
  top: 2.6%;
}

.zoom-out-2 {
  width: 30px;
  position: absolute;
  right: 8.9%;
  top: 6.8%;
}

.blur {
  opacity: 1;
}

.blur.active {
  opacity: 0;
}
*/
.paraheading-1 {
  font-family: minion;
  font-style: italic;
  font-size: 3vw;
  width: 38%;
  color: black;
  letter-spacing: -2px;
  text-align: left;
  position: relative;
  top: 30px;
  left: 52%;
}

@media screen and (max-width: 1000px) {
  .paraheading-1 {
    width: 80%;
    left: 10%;
    font-size: 40px;
  }
}

.paraheading-2 {
  font-family: minion;
  font-style: italic;
  font-size: 3vw;
  color: white;
  letter-spacing: -2px;
  text-align: center;
  position: relative;
  padding: 20px;
  left: 0%;
}

.text-container-1 {
  display: flex;
  flex-wrap:wrap;
  height: auto;
  align-items: top;
  position: relative;
  padding-left: 1vw;
  width: 100%;
}

.text-container-2 {
  display: flex;
  flex-wrap:wrap;
  height: auto;
  align-items: top;
  position: relative;
  padding-left: 1vw;
  width: 100%;
}

.text-container-3 {
  display: flex;
  flex-wrap:wrap;
  height: auto;
  align-items: top;
  position: relative;
  padding-left: 1vw;
  width: 100%;
}

.quote {
  font-family: helvetica;
  padding-top: 20px;
  font-size: 19px;
  color: black;
  position: relative;
  font-style: italic;
  display: flex;
  padding-left: 6%;
  top: -8px; 
  width: 40%;
}

@media screen and (max-width: 1000px) {
  .quote {
    width: 90%;
  }
}

.body-text-1 {
  font-family: helvetica;
  font-size: 20px;
  color: black;
  padding: 10px; 
  padding-bottom: 20px;
  text-align: left;
  display: inline-flex;
  position: relative;
  width: 48%;
}

@media screen and (max-width: 1000px) {
  .body-text-1 {
    width: 90%;
    padding-left: 10px;
  }
}

.body-text-1a {
  font-family: helvetica;
  font-size: 20px;
  color: black;
  padding: 10px;
  padding-bottom: 20px; 
  text-align: left;
  display: inline-flex;
  position: relative;
  left: 10px;
  width: 48%;
}

@media screen and (max-width: 1000px) {
  .body-text-1a {
    width: 90%;
    left: 1px;
  }
}

.body-text-2 {
  font-family: helvetica;
  font-size: 19px;
  color: black;
  padding: 20px; 
  text-align: left;
  position: absolute;
  top: 25%;
  left: 49%;
  width: 40%;
  overflow: auto;
  max-height: 76.5%;
}

@media screen and (max-width: 1000px) {
  .body-text-2 {
    width: 82%;
    top: 104%;
    left: 8%;
  }
}

.body-text-3 {
  font-family: helvetica;
  font-size: 19px;
  color: black;
  padding: 20px; 
  text-align: left;
  display: inline-flex;
  position: absolute;
  top: 3390px;
  left: 10%;
  width: 40%;
  overflow: auto;
  max-height: 915px;
  margin: 0;
}

.body-text-4a {
  font-family: helvetica;
  font-size: 19px;
  color: white;
  padding: 20px; 
  text-align: left;
  left: 1%;
  display: inline-flex;
  position: absolute;
  width: 32.5%;
}

.body-text-4b {
  font-family: helvetica;
  font-size: 19px;
  color: white;
  padding: 20px; 
  text-align: left;
  display: inline-flex;
  position: absolute;
  left: 33.9%;
  width: 32.5%;
}

.body-text-4c {
  font-family: helvetica;
  font-size: 19px;
  color: white;
  padding: 20px; 
  text-align: left;
  display: inline-flex;
  position: absolute;
  left: 66%;
  width: 32.5%;
}

.column-break {
  display: inline-flex;
  width: 15%;
  height: 20px;
}

.image-container-1 {
  right: 28%;
  height: auto;
  width: 38%;
  top: 30px;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .image-container-1 {
    width: 82%;
    right: -8.5%;
    top: 40px;
  }
}

.image-container-2 {
  display: block;
  padding: 20px;
  padding-left: 51.4%;
  height: auto;
  width:100%;
  position: absolute;
  top: 3360px;
  align-items: center;
  margin: 0;
}

.image-container-3a {
  padding: 10px;
  position: absolute;
  height: auto;
  top: 595px;
  max-width: 31%;
  margin: 0;
  left: 1.2%;
}

.image-container-3b {
  padding: 10px;
  height: auto;
  position: absolute;
  top: 595px;
  left: 34%;
  max-width: 31%;
  margin: 0;
}

.border {
  background-color: black;
  color: white;
  height: 950px;
  align-items: center;
  position: absolute;
  top: 3370px;
  width: 100%;
  margin: 0;
}



/*<!------------------------ page 2 css ------------------------>*/


.title-2 {
  font-family: minion;
  font-style: italic;
  font-size: 8vw;
  color: white;
  letter-spacing: -4px;
  text-align: left;
  position: absolute;
  top: 47%;
  left: 54.5%;
  align-items: top;
  transform: translate(-50%, -50%);
}

.title-2:hover {
  text-decoration: underline;
}

.border-trim-5 {
  position: absolute;
  top: 942px;
  width: 97.8%;
  height: 705px;
  left: 1%;
  border: solid 2px black;
}

.border-trim-6 {
  position: absolute;
  top: 165px;
  width: 38.5%;
  height: 345px;
  left: 10%;
  border: solid 2px white;
}

.body-text-7a {
  font-family: helvetica;
  font-size: 19px;
  color: black;
  padding: 20px; 
  text-align: left;
  display: inline-flex;
  position: absolute;
  top: 1250px;
  left: 1%;
  width: 33%;
}

.body-text-8 {
  font-family: helvetica;
  font-size: 19px;
  color: white;
  padding: 20px;
  left: 10%; 
  text-align: left;
  display: inline-flex;
  position: relative;
  width: 39%;
}

.body-text-8a {
  font-family: helvetica;
  font-size: 19px;
  color: white;
  padding: 20px; 
  text-align: left;
  display: inline-flex;
  position: absolute;
  left: 10%;
  top: 500px;
  width: 39%;
}

.body-text-8b {
  font-family: helvetica;
  font-size: 19px;
  color: white;
  padding: 20px;
  left: 10%; 
  text-align: left;
  display: inline-flex;
  position: relative;
  width: 39%;
}

.image-container-6 {
  padding: 20px;
  height: auto;
  width: 65%;
  align-items: center;
  top: 935px;
  left: 34%;
  margin: 0;
  position: absolute;
}

.image-container-7 {
  padding: 20px;
  height: auto;
  width: 100%;
  align-items: center;
  top: 175px;
  width: 37.5%;
  left: 10.5%;
  margin: 0;
  position: absolute;
  font-size: 10px;
  font-family: helvetica;
  font-style: italic;
  padding: 5px;
}

.paraheading-10 {
  font-family: minion;
  font-style: italic;
  font-size: 3vw;
  color: black;
  position: absolute;
  left: 3%;
  top: 990px;
  width: 32%;
}

.paraheading-11 {
  font-family: minion;
  font-style: italic;
  font-size: 3vw;
  color: white;
  text-align: center;
  position: absolute;
  left: 15%;
  top: 740px;
  width: 66%;
}

.border-3 {
  background-color: black;
  color: white;
  height: 920px;
  align-items: center;
  position: absolute;
  top: 1665px;
  width: 100%;
  margin: 0;
}




/*<!------------------------ page 3 css ------------------------>*/



.title-3 {
  font-family: minion;
  font-style: italic;
  font-size: 8vw;
  color: white;
  letter-spacing: -4px;
  text-align: left;
  position: absolute;
  top: 47%;
  left: 53%;
  align-items: top;
  transform: translate(-50%, -50%);
}

.title-3:hover {
  text-decoration: underline;
}

.title-4 {
  font-family: minion;
  font-style: italic;
  font-size: 8vw;
  color: white;
  letter-spacing: -4px;
  text-align: left;
  position: absolute;
  width: 80%;
  top: 45%;
  left: 58%;
  align-items: top;
  transform: translate(-50%, -50%);
}

.border-trim-1 {
  position: absolute;
  top: 160px;
  width: 79.5%;
  height: 469px;
  left: 10%;
  border: solid 2px white;
}

.border-trim-2 {
  position: absolute;
  top: 1570px;
  width: 79.5%;
  height: 500px;
  left: 10%;
  border: solid 2px black;
}

.corner-title-2 {
  font-family: helvetica;
  font-style: italic;
  font-size: 1vw;
  color: white;
  letter-spacing: 0px;
  text-align: left;
  position: absolute;
  top: 94%;
  left: 1%;
  align-items: top;
}

.quote-2 {
  font-family: helvetica;
  padding-top: 20px;
  font-size: 19px;
  color: white;
  position: relative;
  font-style: italic;
  display: block;
  padding-left: 11%; 
  width: 45%;
}

.border-2 {
  background-color: black;
  color: white;
  height: 655px;
  align-items: center;
  position: absolute;
  top: 940px;
  width: 100%;
  margin: 0;
}

.paraheading-3 {
  font-family: minion;
  font-style: italic;
  font-size: 3vw;
  color: white;
  letter-spacing: -2px;
  text-align: center;
  position: relative;
  padding: 20px;
  left: 0%;
}

.body-text-5 {
  font-family: helvetica;
  font-size: 19px;
  color: white;
  padding: 20px;
  left: 10%; 
  text-align: left;
  display: inline-flex;
  position: relative;
  width: 39%;
}

.body-text-5a {
  font-family: helvetica;
  font-size: 19px;
  color: white;
  padding: 20px; 
  text-align: left;
  display: inline-flex;
  position: relative;
  left: 11%;
  bottom: 115px;
  width: 39%;
}

.body-text-6a {
  font-family: helvetica;
  font-size: 19px;
  color: black;
  padding: 20px; 
  text-align: left;
  display: inline-flex;
  position: relative;
  left: 10%;
  top: 840px;
  width: 39%;
  padding-bottom: 50px;
}

.body-text-6b {
  font-family: helvetica;
  font-size: 19px;
  color: black;
  padding: 20px; 
  text-align: left;
  display: inline-flex;
  position: relative;
  left: 11%;
  top: 840px;
  width: 39%;
  padding-bottom: 50px;
}

.image-container-4 {
  font-family: minion;
  font-style: italic;
  font-size: 8vw;
  color: white;
  width: 100.2%;
  letter-spacing: -4px;
  text-align: left;
  position: absolute;
  top: 1110px;
  left: 49.9%;
  align-items: top;
  transform: translate(-50%, -50%);
}

.image-container-5 {
  padding: 20px;
  height: auto;
  width: 100%;
  align-items: center;
  top: 1710px;
  width: 37.5%;
  left: 10.5%;
  margin: 0;
  position: absolute;
  font-size: 10px;
  font-family: helvetica;
  font-style: italic;
  padding: 5px;
}

.reference-2 {
  font-size: 10px;
  font-family: helvetica;
  font-style: italic;
  display: block;
  padding: 5px;
  color: black;
}


