body {
	background-color: black;
}

/*title and nav*/

.intro {
	font-family: helvetica;
	font-size: 20px;
	color: white;
	text-align: left;
	top: 30vh;
	left: 2vw;
	position: fixed;
	opacity: 0;
	transition: 1s;
	width: 24%;
}

@media screen and (max-width: 1200px) {
  .intro {
  	font-size: 20px;
  	position: relative;
  	top: 30px;
  	left: 10vw;
  	width: 80%;
  }
}

.intro.active {
	opacity: 1;
	transition: 1s;
}

.title {
	font-family: utopia italic;
	font-style: italic;
	font-size: 5vw;
	width: 100%;
	text-align: left;
	color: white;
	position: fixed;
	float: left;
}

@media screen and (max-width: 1200px) {
  .title {
  	font-size: 16vw;
  	position: static;
  }
}

.header {
	width: 33%;
	padding-left: 2vw;
	padding-top: 1vh;
	height: 18vh;
}

@media screen and (max-width: 1200px) {
  .header {
  	width: 100%;
  }
}

.container {
	display: flex;
	flex-wrap:wrap;
	height: auto;
/*	padding-left: 30vw;*/
	padding-top: 10vh;
	float: right;
	width: 65%;
}

@media screen and (max-width: 1200px) {
  .container {
  	width: 100%;
  }
}

/*image treatment and styling*/

.image {
	opacity: 0.5;
	width:33.33%;
	padding:30px;
}

.image img {
	max-width:100%;
	display:block;
	margin:auto;
}

.image.span_1_of_1 {
  	opacity: 0.5;
	width:100%;
	padding:30px;
 	transition: .5s ease;
  	/*backface-visibility: hidden;*/
  	padding: 20px;
  	text-align: center;
}

.image.span_1_of_1:hover {
  	opacity: 1;
}

.image.span_1_of_2 {
  	opacity: 0.5;
	width:50%;
	padding:30px;
 	transition: .5s ease;
  /*	backface-visibility: hidden;*/
  	padding: 20px;
  	text-align: center;
}

.image.span_1_of_2:hover {
  	opacity: 1;
}

.image.span_1_of_3 {
  	opacity: 0.5;
	width:33.3%;
	padding:30px;
 	transition: .5s ease;
  	/*backface-visibility: hidden;*/
  	padding: 20px;
  	text-align: center;
}

.image.span_1_of_3:hover {
  	opacity: 1;
}

.image.span_1_of_4 {
  	opacity: 0.5;
	width:25%;
	padding:30px;
 	transition: .5s ease;
  /*	backface-visibility: hidden;*/
  	padding: 20px;
  	text-align: center;
}

.image.span_1_of_4:hover {
  	opacity: 1;
}

.image.span_3_of_4 {
  	opacity: 0.5;
	width:75%;
	padding:30px;
 	transition: .5s ease;
 /* 	backface-visibility: hidden;*/
  	padding: 20px;
  	text-align: center;
}

.image.span_3_of_4:hover {
  	opacity: 1;
}

.image.span_1_of_5 {
  	opacity: 0.5;
	width:20%;
	padding:30px;
 	transition: .5s ease;
  /*	backface-visibility: hidden;*/
  	padding: 20px;
  	text-align: center;
}

.image.span_1_of_5:hover {
  	opacity: 1;
}

.image.span_2_of_3 {
  	opacity: 0.5;
	width:66.6%;
	padding:30px;
 	transition: .5s ease;
  /*	backface-visibility: hidden;*/
  	padding: 20px;
  	text-align: center;
}

.image.span_2_of_3:hover {
  	opacity: 1;
}

.image.span_2_of_5 {
  	opacity: 0.5;
	width:40%;
	padding:30px;
 	transition: .5s ease;
  /*	backface-visibility: hidden;*/
  	padding: 20px;
  	text-align: center;
}

.image.span_2_of_5:hover {
  	opacity: 1;
}

.image.span_3_of_5 {
  	opacity: 0.5;
	width:60%;
	padding:30px;
 	transition: .5s ease;
  /*	backface-visibility: hidden;*/
  	padding: 20px;
  	text-align: center;
}

.image.span_3_of_5:hover {
  	opacity: 1;
}

/*text divs*/

.info {
	z-index: 1;
	position: fixed;
	top: 94vh;
	font-size: 15px;
	padding-left: 2vw;
	width: 35%;
}

@media screen and (max-width: 1200px) {
  .info {
  	width: 100%;
  	font-size: 15px;
  }
}

.text-one {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-one.active {
	animation: opacityOn 3s normal forwards;
}

.text-two {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-two.active {
	animation: opacityOn 3s normal forwards;
}

.text-two-2 {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-two-2.active {
	animation: opacityOn 3s normal forwards;
}

.text-three {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-three.active {
	animation: opacityOn 3s normal forwards;
}

.text-four {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-four.active {
	animation: opacityOn 3s normal forwards;
}

.text-five {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-five.active {
	animation: opacityOn 3s normal forwards;
}

.text-six {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-six.active {
	animation: opacityOn 3s normal forwards;
}

.text-seven {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-seven.active {
	animation: opacityOn 3s normal forwards;
}

.text-eight {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-eight.active {
	animation: opacityOn 3s normal forwards;
}

.text-nine {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-nine.active {
	animation: opacityOn 3s normal forwards;
}

.text-ten {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-ten.active {
	animation: opacityOn 3s normal forwards;
}

.text-eleven {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-eleven.active {
	animation: opacityOn 3s normal forwards;
}

.text-twelve {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-twelve.active {
	animation: opacityOn 3s normal forwards;
}

.text-thirteen {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-thirteen.active {
	animation: opacityOn 3s normal forwards;
}

.text-fourteen {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-fourteen.active {
	animation: opacityOn 3s normal forwards;
}

.text-fifteen {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-fifteen.active {
	animation: opacityOn 3s normal forwards;
}

.text-sixteen {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-sixteen.active {
	animation: opacityOn 3s normal forwards;
}

.text-seventeen {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-seventeen.active {
	animation: opacityOn 3s normal forwards;
}

.text-eighteen {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-eighteen.active {
	animation: opacityOn 3s normal forwards;
}

.text-nineteen {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-nineteen.active {
	animation: opacityOn 3s normal forwards;
}

.text-nineteen-2 {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-nineteen-2.active {
	animation: opacityOn 3s normal forwards;
}

.text-twenty {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-twenty.active {
	animation: opacityOn 3s normal forwards;
}

.text-twenty-2 {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-twenty-2.active {
	animation: opacityOn 3s normal forwards;
}

.text-twentyone {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-twentyone.active {
	animation: opacityOn 3s normal forwards;
}

.text-twentytwo {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-twentytwo.active {
	animation: opacityOn 3s normal forwards;
}

.text-twentytwo-2 {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-twentytwo-2.active {
	animation: opacityOn 3s normal forwards;
}

.text-twentytwo-3 {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-twentytwo-3.active {
	animation: opacityOn 3s normal forwards;
}

.text-twentythree {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-twentythree.active {
	animation: opacityOn 3s normal forwards;
}

.text-twentyfour {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-twentyfour.active {
	animation: opacityOn 3s normal forwards;
}

.text-twentyfive {
	font-family: helvetica;
	color: white;
	opacity: 0;
}

.text-twentyfive.active {
	animation: opacityOn 3s normal forwards;
}


@keyframes opacityOn {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/*button elements*/

.nav {
	width: 20%;
	padding: 20px;
	top: 50vh;
	left: 2vw;
	position: fixed;
	opacity: 0;
	transition: 1s;
}

@media screen and (max-width: 1200px) {
  .nav {
  	width: 60%;
	padding: 20px;
	top: 60px;
	left: 10vw;
	position: relative;
	display: inline-flex;
  }
}

@media screen and (max-width: 750px) {
  .nav {
  	width: 20%;
	padding: 20px;
	top: 60px;
	left: 10vw;
	position: relative;
	display: block;
  }
}

.nav.active {
	opacity: 1;
	transition: 1s;
}

.btn {
	margin: 5px;
	font-family: helvetica;
	font-style: italic;
	font-size: 20px;
	color: white;
	padding: 10px;
	opacity: .3;
	transition: 1s;
}

@media screen and (max-width: 1200px) {
  .btn {
  	font-size: 20px;
  	width: 100%;
  }
}

.btn:hover {
	opacity: 1;
	transition: 1s;
}

.text.hide {
	display: none;
}

.image.hide {
	display: none;
}










