html {
	padding-left:20vw; 
	padding-right:20vw;
	background-color:black; 
	height:100%;
}

body {
	padding:30px; 
	background-color:#d7d8cd; 
	height:100%;
}


/*changing words*/

.word1 {
	color:darkred;
	font-size:4.5vw;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
	border: solid black;
	background-color: black;
	display: inline-block;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

.word2 {
	color:darkred;
	font-size:4.5vw;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
	border: solid black;
	background-color: black;
	display: inline-block;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

.word3 {
	color:darkred;
	font-size:4.5vw;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
	border: solid black;
	background-color: black;
	display: inline-block;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

/*main body of content*/

.title {
	font-size:4.5vw;
	padding:5px;
	text-align: center;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
	color:black;
}

.title2 {
	font-size:4.5vw;
	text-align: center;
	padding:5px;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
	color:black;
}

.title3 {
	font-size:4.5vw;
	padding:5px;
	text-align: center;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
	color:black;
}

/*spaces between text*/

.content {
	padding:3%;
}

/*fixed info for poster*/

.mada {
	position: fixed;
	bottom: 4vh;
	left: 22%;
	padding:5px;
	font-size:1vw;
	font-family: helvetica;
	color: black;
}

.poster {
	position: fixed;
	top: 4vh;
	left: 22%;
	padding:5px;
	font-size:1vw;
	font-family: helvetica;
	color: black;
}

.date {
	position: fixed;
	bottom: 4vh;
	right: 22%;
	padding:5px;
	font-size:1vw;
	font-family: helvetica;
	color: black;
}

.link {
	position: fixed;
	top: 4vh;
	right: 22%;
	padding:5px;
	font-size:1vw;
	font-family: helvetica;
	color: black;
}




















