html {
	padding-left:20%; 
	padding-right:20%;
	background-color:black; 
	height:100%;
}

body {
	padding:30px; 
	background-color:#d7d8cd; 
	height:100%;
	flex-wrap: wrap;
}


/*changing words*/

.word1 {
	color:darkred;
	font-size:4.5vw;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
}

.word2 {
	color:darkred;
	font-size:4.5vw;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
}

.word3 {
	color:darkred;
	font-size:4.5vw;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
}

/*main body of content*/

.title {
	font-size:4.5vw;
	padding:5px;
	text-align: left;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
	color:black;
	position: fixed;
	top:12vh;
	left:32vw;
	flex-wrap: wrap;
}

.title2 {
	font-size:4.5vw;
	padding:5px;
	text-align: left;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
	color:black;
	position: fixed;
	top:57vh;
	left:32vw;
	flex-wrap: wrap;
}

.title3 {
	font-size:4.5vw;
	padding:5px;
	text-align: left;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
	color:black;
	position: fixed;
	top:67vh;
	left:32vw;
	flex-wrap: wrap;
}


/*scrolling text*/

.static1 {
	font-size:90px;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
}

.static2 {
	font-size:90px;
	padding:20px;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
}

.static3 {
	font-size:90px;
	padding:20px;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
}


/*spaces between text*/

.content {
	padding:40px;
}


/*fixed info for poster*/

.mada {
	position: fixed;
	bottom: 30px;
	left: 22%;
	padding:5px;
	font-size:1vw;
	font-family: helvetica;
	color: black;
}

.poster {
	position: fixed;
	top: 30px;
	left: 22%;
	padding:5px;
	font-size:1vw;
	font-family: helvetica;
	color: black;
}

.date {
	position: fixed;
	bottom: 30px;
	right: 22%;
	padding:5px;
	font-size:1vw;
	font-family: helvetica;
	color: black;
}

.border {
	padding-left:37vw;
	padding-top: 79vh; 
	border-style: solid; 
	border-width: 12px;
	position: fixed;
	top:9vh;
	left:30vw;

}



