html {
	padding-left:20%; 
	padding-right:20%;
	background-color:black; 
	height:100%;
}

body {
	padding:30px; 
	background-color:#d7d8cd; 
	height:100%;
	flex-wrap: wrap;
}


/*changing words*/

.word1 {
	color:darkred;
	font-size:4.5vw;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
}

.word2 {
	color:darkred;
	font-size:4.5vw;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
}

.word3 {
	color:darkred;
	font-size:4.5vw;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
}

/*main body of content*/

.title {
	font-size:4.5vw;
	padding-top: 10px;
	padding-left:20px;
	text-align: left;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
	color:black;
	flex-wrap: wrap;
}

.title2 {
	font-size:4.5vw;
	padding-left:20px;
	text-align: left;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
	color:black;
	flex-wrap: wrap;
}

.title3 {
	font-size:4.5vw;
	padding-left: 20px;
	text-align: left;
	font-family: verdana;
	letter-spacing:-5px;
	font-weight: 700;
	color:black;
	flex-wrap: wrap;
}


/*spaces between text*/

.content {
	padding: 5vh;
}


/*fixed info for poster*/

.mada {
	position: fixed;
	bottom: 4vh;
	left: 22%;
	padding:5px;
	font-size:1vw;
	font-family: helvetica;
	color: black;
}

.poster {
	position: fixed;
	top: 4vh;
	left: 22%;
	padding:5px;
	font-size:1vw;
	font-family: helvetica;
	color: black;
}

.date {
	position: fixed;
	bottom: 4vh;
	right: 22%;
	padding:5px;
	font-size:1vw;
	font-family: helvetica;
	color: black;
}

.link {
	position: fixed;
	top: 4vh;
	right: 22%;
	padding:5px;
	font-size:1vw;
	font-family: helvetica;
	color: black;
}

.border {
	left: 9vw;
	top: 6vh; 
	border: solid 12px; 
	width: 37vw;
	height: 79.5vh;
	position: relative;
}



